<header>
    <img src="assets/img/messias.png" alt="José Messias - Foto de Perfil" width="130px" height="130px"
        loading="eager" />

    <h1>José Messias</h1>
</header>

<aside>
    <div class="container">
        <p>Assoc, Full-stack Developer Java | Spring Boot | Angular</p>
        <p>Recife, Pernambuco, Brasil</p>
        <p>
            Tenho experiência como desenvolvedor Fullstack, com atuação em ambientes dinâmicos e desafiadores. 
            Na minha trajetória, trabalhei com tecnologias como Node.js, Java, Spring Boot, Angular, PostgreSQL, SQL Server. 
            Em projetos anteriores, colaborei no desenvolvimento e manutenção de sistemas eficientes e seguros, 
            sempre buscando melhorar minhas habilidades e aplicar práticas ágeis para entregar soluções de alta qualidade.
        </p>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/curriculo.pdf" target="_blank" class="btn btn-secondary">
                        Dowloand Cv
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/josecmessias/" target="_blank" class="btn btn-primary">
                        Linkedin
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Ícone para o contato whatsapp" />
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5581984576527&text=Ol%C3%A1%20Messias,%20preciso%20de%20um%20job!"
                        target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>whatsapp: (81) 9 8457-6527</p>
                    </a>
                </figcaption>

            </figure>

            <figure>
                <img src="assets/icons/email.svg" alt="Ícone para contato e-mail" />
                <figcaption>
                    <a href="mailto:josecmessias22@gmail.com" target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>josecmessias22&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>