:root {
    --primary: #2fbf71;
    --primary-10: #21804d;

    --secondary: #2873b1;
    --secondary-10: #015092;

    --white: #fff;

    --black: #10101a;
    --black-10: #2a2a30;

    --grey: #9b9ba0;
}
